// Pulling these images from Unsplash
// Toshi the dog from https://unsplash.com/@charlesdeluvio - what a funny dog...
.bg-login-image {
  background: url("https://gss0.bdstatic.com/94o3dSag_xI4khGkpoWK1HF6hhy/baike/c0%3Dbaike150%2C5%2C5%2C150%2C50/sign=ea435df8372ac65c73086e219a9bd974/b8389b504fc2d56255f15175e51190ef77c66ca9.jpg");
  background-position: center;
  background-size: cover;
}

.bg-register-image {
  background: url("https://gss0.bdstatic.com/94o3dSag_xI4khGkpoWK1HF6hhy/baike/c0%3Dbaike150%2C5%2C5%2C150%2C50/sign=ea435df8372ac65c73086e219a9bd974/b8389b504fc2d56255f15175e51190ef77c66ca9.jpg");
  background-position: center;
  background-size: cover;
}

.bg-password-image {
  background: url("https://gss0.bdstatic.com/94o3dSag_xI4khGkpoWK1HF6hhy/baike/c0%3Dbaike150%2C5%2C5%2C150%2C50/sign=ea435df8372ac65c73086e219a9bd974/b8389b504fc2d56255f15175e51190ef77c66ca9.jpg");
  background-position: center;
  background-size: cover;
}
form.user {

  .custom-checkbox.small {
    label {
      line-height: 1.5rem;
    }
  }

  .form-control-user {
    font-size: 0.8rem;
    border-radius: 10rem;
    padding: 1.5rem 1rem;
  }

  .btn-user {
    font-size: 0.8rem;
    border-radius: 10rem;
    padding: 0.75rem 1rem;
  }

}

.btn-google {
  @include button-variant($brand-google, $white);
}

.btn-facebook {
  @include button-variant($brand-facebook, $white);
}
